/** {
  border: 4px solid ;
}*/

html, body, #atf {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #atf {
  height: 100%;
}

body {
  background-color: darkgreen;
}

h1{
  color: rgba(255,255,255,1);
  font-size: 5vw;
}

#enter-area {
  font-size: 7vw;
  text-align: center;
}

#btn-submit {
  font-size: 5vw;
  border-radius: 20px;
  background-color: lime;
  margin: 15px;
}

#feedback {
  visibility: hidden;
}

#atf {
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#atf form {
  display: flex;
  flex-direction: column;
}
